.add-new-transaction-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    .MuiFab-primary {
        background: var(--primary);
        color: var(--light);
    }

    .MuiFab-primary:hover {
        background: #1065c1;
        color: var(--light);
    }
}
