.history-transaction-container {
    margin-bottom: 0.5rem;
    display: flex;
    cursor: pointer;
    flex: 1;

    .details {
        padding: 0.5rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        .info {
            .date {
                font-weight: 600;
                font-size: 0.8rem;
            }

            .title {
                flex: 1;
            }
        }
    }

    .income-status,
    .expense-status {
        width: 10px;
    }

    .income-status {
        background: var(--green);
    }

    .expense-status {
        background: var(--red);
    }
}

.history-transaction-container:hover {
    .income-status,
    .expense-status {
        filter: brightness(0.75);
    }
}
