.individual-balance-container {
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
    font-size: larger;

    .income-balance,
    .expense-balance {
        flex: 1;
    }

    .income-balance {
        border-right: 1px solid #dcdcdc;
        color: var(--teal);
    }

    .expense-balance {
        color: var(--red);
    }
}
